.conteudo {
  position: relative;
  height: calc(100vh - 80px);

  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.background {
  height: 100vh;
  position: absolute;
  left: 0;
}

.info {
  width: 70%;
  margin: 40px 90px 0 0;
  max-height: 850px;
}

.repositories {
  display: flex;
  flex-direction: column;
  max-height: 580px;
  overflow-y: auto;

  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  & h3 {
    font-size: 34px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin-top: 50px;
  }
}
